.git*
.env*
.bundle
.jenkins
.k8t
log/*
tmp/*
./**/node_modules
/node_modules/
yarn-error.log
Dockerfile
README.md
config/database.yml
test/*
#spec/*
features/*
vendor/bundle

doc/*
charts/*
.sass-cache/

.idea
.vscode/
coverage/

public/assets/*
public/system/*
public/uploads/*
