---
http_interactions:
- request:
    method: post
    uri: https://poc-api-test.insiders.cloud/1/rest/accounts/authentication/requesttoken
    body:
      encoding: UTF-8
      string: '{"username":"test.user.valid@clark.de","password":"12345678"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"token\": \"foobartoken\",\r\n
        \ \"validUntil\": \"2018-10-19T15:38:34Z\"\r\n}"
  recorded_at: Fri, 19 Oct 2018 14:37:56 GMT
recorded_with: VCR 4.0.0
